            /**

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
            
            body {
                font-family: "Inter", sans-serif;
                color: #444444;
            }
            
            a {
                color: #A7BB00;
                text-decoration: none;
            }
            
            a:hover {
                color: #D7FF00;
                text-decoration: none;
            }
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: "Inter", sans-serif;
            }
            /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
            
            .back-to-top {
                position: fixed;
                visibility: hidden;
                opacity: 0;
                right: 15px;
                bottom: 15px;
                z-index: 996;
                background: #A7BB00;
                width: 40px;
                height: 40px;
                border-radius: 4px;
                transition: all 0.4s;
            }
            
            .back-to-top i {
                font-size: 28px;
                color: #fff;
                line-height: 0;
            }
            
            .back-to-top:hover {
                background: #D7FF00;
                color: #fff;
            }
            
            .back-to-top.active {
                visibility: visible;
                opacity: 1;
            }
            /*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
            
            #preloader {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 9999;
                overflow: hidden;
                background: #fff;
            }
            
            #preloader:before {
                content: "";
                position: fixed;
                top: calc(50% - 30px);
                left: calc(50% - 30px);
                border: 6px solid #A7BB00;
                border-top-color: #e2e5fe;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                animation: animate-preloader 1s linear infinite;
            }
            
            @keyframes animate-preloader {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            /*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
            
            @media screen and (max-width: 768px) {
                [data-aos-delay] {
                    transition-delay: 0 !important;
                }
            }
            /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
            
            #header {
                background: #A7BB00;
                border-bottom: 2px solid #A7BB00;
                transition: all 0.5s;
                z-index: 100;
                padding: 0px 0;
                position: relative;
                height: 110px;
                width: auto;
                bottom: 10px;
            }
            
            #header .left-section {
                vertical-align: auto;
                padding-top: 3%;
            }
            
            .logo img {
                position: absolute;
                /* Added absolute positioning for the image */
                top: 50%;
                /* Center it vertically */
                left: 0;
                /* Align it to the left */
                max-height: 150px;
                /* Your desired height */
                transform: translateY(-50%);
                /* Adjust for exact vertical centering */
                vertical-align: middle;
                filter: brightness(0) invert(1);
                /* Align the image vertically */
            }
            
            #header .logobanner img {
                max-height: 150px;
                /* Your desired height */
                vertical-align: middle;
                filter: brightness(0) invert(1);
                left: 0;
                top: 0%;
                transform: translateY(-10%);
                vertical-align: middle;
                min-height: 10px;
                width: auto;
                /* Invert the colors and adjust brightness */
            }
            /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
            
            .Formulario {
                background-color: #f8f9fa;
                /* Set your desired background color */
                padding: 60px 0;
                /* Adjust the padding as needed */
                text-align: center;
            }
            
            .Formulario form {
                max-width: 600px;
                /* Set your desired maximum width */
                margin: 0 auto;
            }
            
            .Formulario h2 {
                font-size: 32px;
                /* Set your desired font size */
                color: #343a40;
                /* Set your desired text color */
                margin-bottom: 30px;
                /* Adjust margin as needed */
            }
            
            .Formulario .button button {
                background-color: #007bff;
                /* Set your desired button background color */
                color: #fff;
                /* Set your desired button text color */
            }
            
            .cost-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 10px;
                /* Adjust margin as needed */
            }
            
            .cost-item {
                flex: 1;
                max-width: 250px;
                /* Set your desired maximum width */
                margin-right: 10px;
                /* Adjust margin as needed */
            }
            /**





* Desktop Navigation 
*/
            
            .navbar {
                padding: 0;
            }
            
            .navbar ul {
                margin: 0;
                padding: 0;
                display: flex;
                list-style: none;
                align-items: center;
            }
            
            .navbar li {
                position: relative;
            }
            
            .navbar a,
            .navbar a:focus {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0 10px 30px;
                font-family: "Krub", sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: #eceefe;
                white-space: nowrap;
                transition: 0.3s;
            }
            
            .navbar a i,
            .navbar a:focus i {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
            }
            
            .navbar a:hover,
            .navbar .active,
            .navbar .active:focus,
            .navbar li:hover>a {
                color: #D7FF00;
            }
            
            .navbar .getstarted,
            .navbar .getstarted:focus {
                background: #A7BB00;
                padding: 9px 25px;
                margin-left: 30px;
                border-radius: 5px;
                font-weight: 600;
                color: #fff;
                color: #f1f1f1;
            }
            
            .navbar .getstarted:hover,
            .navbar .getstarted:focus:hover {
                color: #fff;
                background: #D7FF00;
            }
            
            .navbar .dropdown ul {
                display: block;
                position: absolute;
                left: 14px;
                top: calc(100% + 30px);
                margin: 0;
                padding: 10px 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                background: #fff;
                box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
                transition: 0.3s;
                border-radius: 4px;
            }
            
            .navbar .dropdown ul li {
                min-width: 200px;
            }
            
            .navbar .dropdown ul a {
                padding: 10px 20px;
                text-transform: none;
                font-weight: 500;
            }
            
            .navbar .dropdown ul a i {
                font-size: 12px;
            }
            
            .navbar .dropdown ul a:hover,
            .navbar .dropdown ul .active:hover,
            .navbar .dropdown ul li:hover>a {
                color: #A7BB00;
            }
            
            .navbar .dropdown:hover>ul {
                opacity: 1;
                top: 100%;
                visibility: visible;
            }
            
            .navbar .dropdown .dropdown ul {
                top: 0;
                left: calc(100% - 30px);
                visibility: hidden;
            }
            
            .navbar .dropdown .dropdown:hover>ul {
                opacity: 1;
                top: 0;
                left: 100%;
                visibility: visible;
            }
            
            @media (max-width: 1366px) {
                .navbar .dropdown .dropdown ul {
                    left: -90%;
                }
                .navbar .dropdown .dropdown:hover>ul {
                    left: -100%;
                }
            }
            /**
* Mobile Navigation 
*/
            
            .mobile-nav-toggle {
                color: #2d405f;
                font-size: 28px;
                cursor: pointer;
                display: none;
                line-height: 0;
                transition: 0.5s;
            }
            
            .mobile-nav-toggle.bi-x {
                color: #fff;
            }
            
            @media (max-width: 991px) {
                .mobile-nav-toggle {
                    display: block;
                }
                .navbar ul {
                    display: none;
                }
            }
            
            .navbar-mobile {
                position: fixed;
                overflow: hidden;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: rgba(29, 41, 60, 0.9);
                transition: 0.3s;
                z-index: 999;
            }
            
            .navbar-mobile .mobile-nav-toggle {
                position: absolute;
                top: 15px;
                right: 15px;
            }
            
            .navbar-mobile ul {
                display: block;
                position: absolute;
                top: 55px;
                right: 15px;
                bottom: 15px;
                left: 15px;
                padding: 10px 0;
                border-radius: 6px;
                background-color: #fff;
                overflow-y: auto;
                transition: 0.3s;
            }
            
            .navbar-mobile a,
            .navbar-mobile a:focus {
                padding: 10px 20px;
                font-size: 15px;
                color: #A7BB00;
            }
            
            .navbar-mobile a:hover,
            .navbar-mobile .active,
            .navbar-mobile li:hover>a {
                color: #D7FF00;
            }
            
            .navbar-mobile .getstarted,
            .navbar-mobile .getstarted:focus {
                margin: 15px;
            }
            
            .navbar-mobile .dropdown ul {
                position: static;
                display: none;
                margin: 10px 20px;
                padding: 10px 0;
                z-index: 99;
                opacity: 1;
                visibility: visible;
                background: #fff;
                box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
            }
            
            .navbar-mobile .dropdown ul li {
                min-width: 200px;
            }
            
            .navbar-mobile .dropdown ul a {
                padding: 10px 20px;
            }
            
            .navbar-mobile .dropdown ul a i {
                font-size: 12px;
            }
            
            .navbar-mobile .dropdown ul a:hover,
            .navbar-mobile .dropdown ul .active:hover,
            .navbar-mobile .dropdown ul li:hover>a {
                color: #A7BB00;
            }
            
            .navbar-mobile .dropdown>.dropdown-active {
                display: block;
            }
            /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
            /* Hero Section */
            
            #hero {
                position: relative;
                width: 100%;
                height: 100vh;
            }
            /* Background Image Carousel */
            
            #hero {
                position: relative;
                width: 100%;
                height: 100vh;
                z-index: 0;
            }
            
            #hero .bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                animation: fade 12s infinite;
                opacity: 800; /* Adjust the opacity to your preference */
                z-index: -1;
            }
            
            
            .container #hero .bg::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.876);
                /* This will darken your background */
                z-index: 1;
                /* Make sure the overlay is above the background */
            }
            /* Apply different background images for different screen sizes */
            
            @media (max-width: 768px) {
                #hero .bg {
                    background-image: url('../img/hero-mobile.png');
                    /* Replace 'hero-mobile.png' with your mobile background image */
                }
            }
            
            @media (min-width: 769px) and (max-width: 1200px) {
                #hero .bg {
                    background-image: url('../img/hero-tablet.png');
                    /* Replace 'hero-tablet.png' with your tablet background image */
                }
            }
            
            @media (min-width: 1201px) {
                #hero .bg {
                    background-image: url('../img/hero-desktop.png');
                    /* Replace 'hero-desktop.png' with your desktop background image */
                }
            }
            
            @keyframes fade {
                0%,
                100% {
                    opacity: 0;
                }
                11.1%,
                33.3% {
                    opacity: 1;
                }
                44.4% {
                    opacity: 0;
                }
            }
            
            #hero .bg:nth-child(1) {
                background-image: url('../img/hero1.png');
                animation-delay: 0s;
            }
            
            #hero .bg:nth-child(2) {
                background-image: url('../img/hero2.png');
                animation-delay: 3s;
            }
            
            #hero .bg:nth-child(3) {
                background-image: url('../img/hero3.png');
                animation-delay: 6s;
            }
            
            #hero .bg:nth-child(4) {
                background-image: url('../img/hero4.png');
                animation-delay: 9s;
            }
            
            .text-container,
            .logo-container {
                z-index: 2;
                /* Make sure the content is above the overlay and background */
            }
            
            .text-containercoti {
                z-index: 80;
                /* Make sure the content is above the overlay and background */
            }
            
            #hero h1 {
                color: #e8e8e8;
                font-size: 128px;
                /* Increased font size */
                font-weight: 700;
                line-height: 100px;
                /* Adjusted line height */
            }
            
            @media (max-width: 768px) {
                #hero h1 {
                    font-size: 96px;
                    /* Decrease font size for smaller screens */
                    line-height: 80px;
                    /* Adjusted line height for smaller screens */
                }
            }
            /* Media query for screens smaller than 576px */
            
            @media (max-width: 576px) {
                #hero h1 {
                    font-size: 72px;
                    /* Further decrease font size for even smaller screens */
                    line-height: 60px;
                    /* Adjusted line height for even smaller screens */
                }
            }
            
            .logo-img {
                max-width: 100%;
            }

            #hero-portfolio {
                position: relative;
                width: 100%;
                height: 50vh; /* Adjust the height as needed for the desired aspect ratio */
            }
            
            .bg-portfolio {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center center; /* Center the background image */
                /* Add your background image path below */
                background-image: url('../img/portfolio-header.png');
            }
            
            
/* Your current CSS */

/* Your existing CSS */

#portfolio-page {
    position: relative;
    width: 100%;
}

.container.portfolio.page {
    padding: 20px 5px;
    margin: 0 auto;
    max-width: 1200px;
}

.row.no-gutters.portfolio-page {
    display: flex;
    flex-wrap: wrap;
}

.content.col-xl-5 {
    order: 1;
    padding: 10px;
}

.col-xl-7 {
    order: 2;
    padding: 10px;
}

.left-image {
    width: 100%;
    height: 450px;
    margin-bottom: 5px;
}

.right-content {
    text-align: left;
}

.right-content h3 {
    font-size: 48px;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.right-content p {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: italic;
}

#images-section {
    padding-left: 5px;
    padding-right: 5px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-image-container {
    width: calc(25% - 10px);
    margin: 0 2px 2px 2px;
}

.service-image {
    width: 100%;
    height: 300px;
}

@media (max-width: 992px) {
    .content.col-xl-5,
    .col-xl-7 {
        order: initial;
        padding: 10px;
    }

    .image-container {
        justify-content: space-around;
    }

    .service-image-container {
        width: calc(50% - 10px);
    }
}



            /*--------------------------------------------------------------
# parragraph-1
--------------------------------------------------------------*/

#justified-text-container {
    text-align: center;
    padding: 20px 10px; /* Adjust the bottom padding as needed */
}

#justified-text {
    display: inline-block;
    text-align: justify;
    font-weight: bold;
    max-width: 80%;
    margin: 0 auto;
}

#justified-text p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}




            /*--------------------------------------------------------------
# counter
--------------------------------------------------------------*/
            
            #counter-section {
                font-family: 'Quicksand', sans-serif;
                /* Set the font-family to Quicksand */
                text-align: center;
            }
            
            .counter-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 10px 0;
                position: relative;
            }
            
            .counter-item::after {
                content: "";
                position: absolute;
                bottom: -20px;
                /* Adjusted to be a little bigger than the text and number */
                left: 50%;
                width: 890px;
                /* Adjusted to be a little bigger than the text and number */
                height: 2px;
                background-color: #ccc;
                transform: translateX(-50%);
            }
            
            .counter-item:last-child::after {
                display: none;
            }
            
            .counter-number {
                font-family: 'Inter', sans-serif;
                /* Set the font-family to Inter */
                font-size: 64px;
                /* Made bigger */
                font-weight: 700;
                color: #A7BB00;
                margin-right: 10px;
                padding-bottom: 30px;
            }
            
            .counter-text {
                text-transform: uppercase;
                font-size: 64px;
                /* Made the same size as the number */
                font-weight: 100;
                /* Thinner font */
                text-align: center;
                padding-bottom: 30px;
            }
            /* Responsive styles */
            
            @media (max-width: 768px) {
                .counter-number,
                .counter-text {
                    font-size: 48px;
                    /* Decrease font size for smaller screens */
                    text-align: center;
                    /* Center the text content */
                }
            }
            
            @media (max-width: 480px) {
                .counter-number,
                .counter-text {
                    font-size: 25px;
                    /* Further decrease font size for even smaller screens */
                    text-align: center;
                    /* Center the text content */
                }
            }
            /*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/
            
            #banner-section .banner-text {
                color: white;
                font-size: 98px;
                /* Adjust the size as needed */
                white-space: nowrap;
            }
            
            .white-icon {
                filter: invert(1);
            }
            
            #banner-section {
                position: relative;
                width: 100%;
                height: 50vh;
            }
            
            .banner-bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../img/BANNER.jpg');
                background-size: cover;
                background-position: center;
                z-index: 1;
            }
            /* Layer to control darkness */
            
            .banner-bg::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                /* Adjust the alpha value to control darkness */
                z-index: 2;
            }
            
            .banner-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                font-size: 72px;
                text-align: center;
            }
            
            .beyond {
                font-style: italic;
            }
            
            .limits {
                font-weight: bold;
            }
            /* Responsive styles */
            
            @media (max-width: 768px) {
                #banner-section .banner-text {
                    font-size: 48px;
                    /* Decrease font size for smaller screens */
                }
            }
            
            @media (max-width: 480px) {
                #banner-section .banner-text {
                    font-size: 36px;
                    /* Further decrease font size for even smaller screens */
                }
            }
            
            @media (max-width: 320px) {
                #banner-section .banner-text {
                    font-size: 24px;
                    /* Adjust font size for the smallest screens */
                }
            }
            /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
            
#global-section {
    padding: 60px 0;
    overflow: hidden;
}

#global-section .section-bg {
    background-color: #f6f8fb;
}

#global-section .section-title {
    text-align: center;
    padding-bottom: 300px;
    padding-bottom: 300px;
}

#global-section .section-title h2 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #222222;
}

#global-section .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #d9ff0000;
    bottom: 0;
    left: calc(50% - 25px);
}

#global-section .section-title p {
    margin-bottom: 0;
}

#new-section {
    /* Your specific styling for new-section */
    padding: 100px 0; /* Adjust padding as needed */
    /* Add any other specific styling for new-section */
}

/* Add any additional styling for new-section elements if needed */


            /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
            
            .about {
                background: #A7BB00;
                background-size: cover;
                padding: 20px 0 65px 0;
                /* Reduced top padding to bring 'Nuestros Servicios' closer to the top */
                position: relative;
                color: #fff;
            }
            
            .content h3 {
                margin-top: 25px;
                /* Removes any default margin */
                font-family: 'Inter', sans-serif;
                /* Set the font to Quicksand */
                margin-bottom: 30px;
                /* Added more padding between the title and the text under it */
                font-size: 48px;
            }
            
            .content {
                padding: 0 15px 30px 15px;
                /* Adjusted padding for smaller screens */
            }
            
            .service-list {
                padding: 0;
                margin: 20px 0;
                /* Added margin between each title */
                font-size: 28px;
                /* Decreased font size for smaller screens */
            }
            
            .service {
                cursor: pointer;
                margin-bottom: 40px;
                /* Decreased space between each service title for smaller screens */
                font-family: 'Inter', sans-serif;
                /* Set the font to Inter */
                font-size: 22px;
                /* Decreased font size for smaller screens */
                font-weight: 200;
                /* Lighter weight for smaller screens */
            }
            
            .image-container {
                position: relative;
            }
            
            .image {
                width: 100%;
                transition: opacity 1s ease-in-out;
                object-fit: cover;
                /* Added to prevent the image from resizing the section */
                height: 100%;
                /* Added to prevent the image from resizing the section */
            }
            
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity 1s ease-in-out;
                font-family: 'Inter', sans-serif;
                /* Set the font to Quicksand */
                text-align: center;
                /* Center the text */
                padding: 20px;
                /* Added padding to prevent text from touching the borders */
                font-weight: 200;
            }
            /* Responsive styles */
            
            @media (max-width: 768px) {
                .content {
                    padding: 0 10px 30px 10px;
                    /* Further adjusted padding for smaller screens */
                }
                .service-list {
                    font-size: 24px;
                    /* Decreased font size for even smaller screens */
                }
                .service {
                    margin-bottom: 30px;
                    /* Decreased space between each service title for even smaller screens */
                    font-size: 20px;
                    /* Decreased font size for even smaller screens */
                }
            }
            /*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
            
            #team {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            
            #team .member {
                position: relative;
                border-radius: 15px;
                height: 300px;
                /* Adjusted height for smaller screens */
                width: 250px;
                /* Adjusted width for smaller screens */
                margin: 20px;
                /* Added margin between members */
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                overflow: hidden;
                filter: grayscale(100%);
            }
            
            #team .member-info {
                opacity: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 10px;
                color: white;
                background-color: rgba(0, 0, 0, 0.7);
                /* Semi-transparent background */
                border-radius: 0 0 15px 15px;
                text-align: center;
                transition: 0.5s all ease-in-out;
            }
            
            #team .img-container {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            #team .img-fluid {
                width: 100%;
                height: 100%;
                border-radius: 15px;
                object-fit: cover;
                cursor: pointer;
                transition: 0.5s all ease-in-out;
            }
            
            #team .member:hover .img-fluid {
                transform: scale(1.2);
                filter: grayscale(0);
                transition: 0.5s all ease-in-out;
            }
            
            #team .member:hover .member-info {
                opacity: 1;
                transition: 0.5s all ease-in-out;
            }
            /* Responsive styles */
            
            @media (max-width: 480px) {
                #team {
                    flex-direction: column;
                    /* Stack members vertically */
                    align-items: center;
                    /* Center items horizontally */
                }
                #team .member {
                    height: 250px;
                    /* Adjusted height for even smaller screens */
                    width: 380px;
                    /* Adjusted width for even smaller screens */
                    margin: 10px 0;
                    /* Added vertical margin between members */
                }
            }
            /*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
    background-color: #f1f1f1; /* Replace with your desired light grey color */
}            

            .portfolio .portfolio-item {
                margin-bottom: 30px;
            }
            
            .portfolio #portfolio-flters {
                padding: 0;
                margin: 0 auto 20px auto;
                list-style: none;
                text-align: center;
            }
            
            .portfolio #portfolio-flters li {
                cursor: pointer;
                display: inline-block;
                padding: 8px 15px 10px 15px;
                font-size: 14px;
                font-weight: 600;
                line-height: 1;
                text-transform: uppercase;
                color: #A7BB00;
                margin-bottom: 5px;
                transition: all 0.3s ease-in-out;
                border-radius: 3px;
            }
            
            .portfolio #portfolio-flters li:hover,
            .portfolio #portfolio-flters li.filter-active {
                color: #fff;
                background: #A7BB00;
            }
            
            .portfolio #portfolio-flters li:last-child {
                margin-right: 0;
            }
            
            .portfolio .portfolio-wrap {
                transition: 0.3s;
                position: relative;
                overflow: hidden;
                z-index: 1;
                background: #a8bb0084;
            }
            
            .portfolio .portfolio-wrap::before {
                content: "";
                background: #a8bb0073;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                transition: all ease-in-out 0.3s;
                z-index: 2;
                opacity: 0;
            }
            
            .portfolio .portfolio-wrap img {
                transition: all ease-in-out 0.3s;
            }
            
            .portfolio .portfolio-wrap .portfolio-info {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                transition: all ease-in-out 0.3s;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                padding: 20px;
            }
            
            .portfolio .portfolio-wrap .portfolio-info h4 {
                font-size: 20px;
                color: #fff;
                font-weight: 600;
            }
            
            .portfolio .portfolio-wrap .portfolio-info p {
                color: rgba(255, 255, 255, 0.7);
                font-size: 14px;
                text-transform: uppercase;
                padding: 0;
                margin: 0;
                font-style: italic;
            }
            
            .portfolio .portfolio-wrap .portfolio-links {
                text-align: center;
                z-index: 4;
            }
            
            .portfolio .portfolio-wrap .portfolio-links a {
                color: #fff;
                margin: 0 5px 0 0;
                font-size: 28px;
                display: inline-block;
                transition: 0.3s;
            }
            
            .portfolio .portfolio-wrap .portfolio-links a:hover {
                color: #a8bb0058;
            }
            
            .portfolio .portfolio-wrap:hover::before {
                opacity: 1;
            }
            
            .portfolio .portfolio-wrap:hover img {
                transform: scale(1.2);
            }
            
            .portfolio .portfolio-wrap:hover .portfolio-info {
                opacity: 1;
            }

            #portfolio .section-title h2 {
                text-align: center;
                font-weight: bold;
                font-family: 'Inter', sans-serif;
                font-size: 72px;
                padding-top: 20px;
            }

            #portfolio .section-title h2 {
                text-align: center;
                font-weight: bold;
                font-family: 'Inter', sans-serif;
                font-size: 72px;
                padding-top: 20px;
            }
            
            #portfolio .rounded-button {
                background-color: gray;
                color: white;
                border: none;
                border-radius: 25px;
                padding: 15px 30px; /* Larger padding for a bigger button */
                font-family: 'Inter', sans-serif;
                text-decoration: none; /* Remove default link underline */
                cursor: pointer;
                margin-top: 10px;
                margin-bottom: 35px;
                display: inline-block; /* Ensures the link behaves like a block element */
            }
            
            #portfolio .rounded-button:hover {
                background-color: darkgray; /* Darker gray color on hover, adjust as needed */
            }
            
            #portfolio .bigger-button {
                font-size: 18px; /* Adjust font size as needed */
            }
            
            
            
            
            /*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
            
            .portfolio-details {
                padding-top: 40px;
            }
            
            .portfolio-details .portfolio-details-slider img {
                width: 100%;
            }
            
            .portfolio-details .portfolio-details-slider .swiper-pagination {
                margin-top: 20px;
                position: relative;
            }
            
            .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                background-color: #fff;
                opacity: 1;
                border: 1px solid #A7BB00;
            }
            
            .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
                background-color: #a8bb0050;
            }
            
            .portfolio-details .portfolio-info {
                padding: 30px;
                box-shadow: 0px 0 30px #a8bb003b;
            }
            
            .portfolio-details .portfolio-info h3 {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #eee;
            }
            
            .portfolio-details .portfolio-info ul {
                list-style: none;
                padding: 0;
                font-size: 15px;
            }
            
            .portfolio-details .portfolio-info ul li+li {
                margin-top: 10px;
            }
            
            .portfolio-details .portfolio-description {
                padding-top: 30px;
            }
            
            .portfolio-details .portfolio-description h2 {
                font-size: 26px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            
            .portfolio-details .portfolio-description p {
                padding: 0;
            }
            /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
            
            #footer {
                background: #A7BB00;
                /* Same green background as navbar */
                color: #ffffff;
                /* White text */
                font-family: "Inter", sans-serif;
                /* Inter font */
                padding: 10px 0;
                /* Reduced padding */
            }
            
            .footer-text {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            
            .footer-text p {
                margin: 0;
                padding: 0;
                font-size: 16px;
                /* Adjust as needed */
            }
            
            .social-icons {
                display: flex;
            }
            
            .social-icons a {
                margin-right: 10px;
                /* Adjust as needed */
            }
            
            .footer-logo img {
                max-height: 300px;
                /* Adjust as needed */
                filter: brightness(0) invert(2);
                /* Same green background as navbar */
            }
            
            .new-section .content h3 {
                font-size: 48px;
                font-family: 'Inter', sans-serif;
                font-weight: 100;
                /* Lightest weight */
            }
            
            .bold-word {
                font-weight: bold;
                /* Make it bold */
                font-family: 'Inter', sans-serif;
            }
            
            .light-word {
                font-weight: normal;
                /* Regular weight */
                font-family: 'Inter', sans-serif;
            }
            
            .rounded-button {
                background-color: gray;
                color: white;
                border: none;
                border-radius: 25px;
                padding: 10px 20px;
                font-family: 'Inter', sans-serif;
                cursor: pointer;
                margin-top: 10px;
                /* Move the button a little down */
            }
            
            .rounded-button:hover {
                background-color: lightgray;
                /* Lighter gray on hover */
            }
            
            .new-section .image-container {
                position: relative;
            }
            
            .new-section .image {
                width: 100%;
            }
            
            .new-section .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                /* Align text to the left */
                opacity: 1;
            }
            
            .new-section .overlay-text {
                color: white;
                font-size: 72px;
                z-index: 2;
                padding-left: 10px;
                /* Add padding to move text more to the left */
                line-height: 0.9;
                /* Reduce padding between words */
            }
            
            .new-section .overlay-text .quicksand {
                font-family: 'Inter', sans-serif;
                font-weight: 100;
            }
            
            .new-section .overlay-text .inter {
                font-family: 'Inter', sans-serif;
                font-weight: 700;
            }
            
            .new-section .overlay-text {
                color: white;
                font-size: 72px;
                z-index: 2;
                padding-left: 10px;
                /* Add padding to move text more to the left */
                line-height: 0.9;
                /* Reduce padding between words */
            }
            
            .new-section .overlay-text .quicksand {
                font-family: 'Inter', sans-serif;
                font-weight: 100;
            }
            
            .new-section .overlay-text .inter {
                font-family: 'Inter', sans-serif;
                font-weight: 700;
            }

            #cotice {
                position: relative;
                height: 100vh;
                /* Adjust the height as needed */
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                /* Center the text horizontally */
                border-top: 100px;
            }
            
            .bgcotice {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-image: url('../img/cotice.png');
                /* Replace with your background image */
                z-index: -1;
            }
            
            .text-containercoti {
                z-index: 80;
            }
            
            .text-containercoti h1 {
                color: #fff;
                /* Set the text color */
                font-size: 80px;
                padding-left: 30px;
                /* Adjust the font size */
                margin: 0;
                /* Remove default margin */
                line-height: 1.5;
                padding-top: 300px;
                text-align: left;
                /* Adjust line height as needed */
            }
            